.Home {
    text-align: left;
}

.greeting {
    margin-top: 30px;
    margin-left: 10px;
}

.recommendationSection {
    text-align: center;
    align-self: end;
}

.recommendationCard {
    border-color: #5D88BB !important;
    border-width: medium !important;
    border-radius: 50px !important;
}

.goals {
    font-style: italic;
    font-size: 14px;
}

.graph {
    display: inline-flex;
    justify-self: center;
    padding-left: 20px;
}

.primaryButton {
    background-color: #102336;
    border-color: #102336;
}

.primaryButton:hover {
    background-color: #D6D6D6;
    border-color: #102336;
    color: #102336;
}

.primaryButton:active, .primaryButton:focus {
    background-color: #5D88BB;
    border-color: #102336;
    color: white;
}

.secondaryButton:hover {
    background-color: #D6D6D6;
    color: #102336;
}