#profileBtn {
    border-radius: 30px;
    margin-top: 10px;
    border-color: #102336;
    color: #102336;
    max-width: 20%;
    align-self: end;
}

@media (max-width: 900px) {
    #profileBtn {
        max-width: 35%;
    }
}

@media (max-width: 500px) {
    #profileBtn {
        max-width: 70%;
    }
}

#actions-dropdown {
    border-radius: 30px;
    margin-top: 10px;
    padding-right: 20px;
    padding-left: 20px;
    border-color: #102336;
    color: #102336;
    align-self: end;
}

#root > div > div.App-header.d-flex.justify-content-xs-center.row.row-cols-md-2.row-cols-2 > div.mb-1.align-content-end.btn-group-vertical > div {
    align-self: end;
}

.header-logo {
    height: 90px;
    width: 150px;
}

.App-header {
    background-color: #B3CBE4;
    border-color: #102336;
    min-height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    font-size: calc(10px + 2vmin);
    color: white;
    margin-bottom: 10px;
    border-bottom: #5D88BB;
}

.footer {
    background-color: #B3CBE4;
    min-height: 5vh;
}

.footer-button {
    background-color: transparent;
    border: none !important;
    border-color: #102336;
    color: #102336;
}

.markLabel {
    color: #102336;
}

.modal-dialog {
    width: 80% !important;
    margin: auto;
}

.MuiTablePagination-selectLabel, .MuiTablePagination-displayedRows {
    margin-top: 1rem !important;
}