.summaryStat {
    background-color: #102336 !important;
    border-color: #5D88BB !important;
    color: white;
    text-align: center;
    margin: 10px;
    padding: 12px 12px;
    min-height: 125px;
}

.title {
    margin-top: 30px;
    margin-left: 10px;
}

.summaryGrid {
    margin: 0 6px;
    padding-top: 0;
}

.activitySummary {
    background-color: #D6D6D6 !important;
    border-color: #5D88BB !important;
}

.personalityResults {
    background-color: #B3CBE4 !important;
    border-color: #5D88BB !important;
    color: #102336 !important;
}

#profileSubmitBtn {
    color: #5D88BB;
    border-color: #B3CBE4;
}

#profileSubmitBtn:hover{
    background-color: #B3CBE4;
    color: white;
}

.personalityTrait {
    text-align: center;
    background-color: transparent !important;
    border: transparent !important;
}

.personalityTrait_title:hover {
    font-weight: bold !important;
    font-size: large;
}

.popover-header {
    background-color: #102336 !important;
    border-color: #5D88BB !important;
    color: white;
}
.popover {
    border-color: #5D88BB !important;
    color: black;
}

.personalityTestLink {
    float: right;
    font-style: italic;
    font-size: 0.75rem !important;
    padding: 0 0 10px 0;
}

[class*="placeholder"], [class*="singleValue"] {
    color: black !important;
}